<module xmlns="urn:jboss:module:1.0" name="com.scottlogic.ldapleakpreventer">
    <resources>
        <resource-root path="ldapleakpreventer.jar"/>
    </resources>
    
    <dependencies>
        <module name="sun.jdk"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.logging"/>
    </dependencies>
</module>
